body {
  font-family: "Open Sans", sans-serif;

  background: var(--Violet) url(../images/bg-desktop.svg) no-repeat;
  background-size: cover;  
}

main {
  margin: 8rem auto 0;
  max-width: 150rem;
}

.container {
  display: flex;
  gap: 8rem;
  
  margin: 6rem auto 0;
}

.container > .illustration > .image-illustration {
  width: 80rem;
}

.container > .about {  
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
}

.container > .about > .title {
  font-size: 5rem;
  
  color: #FFF;
  
  margin-top: 4rem;
}

.container > .about > .description {
  margin-top: 1.5rem;

  width: 57rem;

  color: #FFF;

  font-size: 1.8rem;
}

.container > .about > .btn {
  width: 22rem;

  margin-top: 2rem;
  padding: 1.5rem 7rem;

  font-size: 1.8rem;

  background-color: #FFF;

  border-radius: 4rem;

  color: var(--Violet);

  transition: .1s ease-in-out;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

.container > .about > .btn:hover {
  background-color: var(--Soft-Magenta);

  border: none;

  color: #FFF;
}

.container > .about > .btn:active {
  box-shadow: 0 0 0 #000;

  background-color: #FFF;

  color: var(--Soft-Magenta);
}

.container > .about > .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 25vh;
  gap: 3rem;

  width: 90%;

  margin-top: 3rem;
}

.container > .about > .social-media > .list {
  width: 4.5rem;
}

.container > .about > .social-media > .list > .link > img {
  transition: .2s ease-in-out;
}

.container > .about > .social-media > .list > .link:hover > img {
  transform: scale(2) rotate(360deg);
}