body {
  font-family: "Open Sans", sans-serif;

  background: var(--Violet) url(../images/bg-desktop.svg) no-repeat;
  background-size: cover;  
}

main {
  margin: 10rem auto 0;
  max-width: 150rem;
}

.container {
  display: flex;
  gap: 7rem;
  
  margin: 6rem auto 0;
}

.container > .illustration > .image-illustration {
  width: 80rem;
}

.container > .about {  
  font-family: "Poppins", sans-serif;
}

.container > .about > .title {
  font-size: 5rem;
  
  color: #FFF;
  
  margin-top: 8rem;
}

.container > .about > .description {
  margin-top: 1.5rem;

  width: 57rem;

  color: #FFF;

  font-size: 1.8rem;
}

.container > .about > .btn {
  display: inline-block;

  margin-top: 2.5rem;
  padding: 1.5rem 7rem;

  font-size: 1.8rem;

  background-color: #FFF;

  border-radius: 4rem;

  color: var(--Violet);

  transition: .2s ease-in-out;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.70);
}

.container > .about > .btn:hover {
  background-color: var(--Soft-Magenta);

  border: none;

  color: #FFF;
}

footer {
  width: 100%;
}

.container > .about > .btn:active {
  box-shadow: 0 0 0 #000;
}

footer > .social-media {
  display: flex;
  gap: 4rem;
  justify-content: flex-end;

  margin-right: 6rem;
}

footer > .social-media > .logo {
  width: 5rem;
}