body {
  font-family: "Open Sans", sans-serif;

  background: var(--Violet) url(../images/bg-desktop.svg) no-repeat;
  background-size: cover;  
}

main {
  margin: 10rem auto 0;
  max-width: 150rem;
}

.container {
  display: flex;
  gap: 7rem;
  
  margin: 6rem auto 0;
}

.container > .illustration > .image-illustration {
  width: 80rem;
}

.container > .about {  
  font-family: "Poppins", sans-serif;
}

.container > .about > .title {
  font-size: 5rem;
  
  color: #FFF;
  
  margin-top: 8rem;
}

.container > .about > .description {
  margin-top: 1.5rem;

  width: 57rem;

  color: #FFF;

  font-size: 1.8rem;
}

.container > .about > .btn {
  display: inline-block;

  margin-top: 2.5rem;
  padding: 1.5rem 7rem;

  background-color: #FFF;

  border-radius: 4rem;
  border: 1px solid #FFF;

  color: var(--Violet);

  /* transition: .5s ease-in-out; */
}

/* .container > .about > .btn:hover {
  background-color: var(--Violet);

  border: 1px solid #FFF;

  color: #FFF;
} */